In [1]:
import pandas as pd

file_path = '/Users/wenannan/Desktop/employee.csv'
data = pd.read_csv(file_path)

print(data.head())

   id            timestamp        country employment_status  job_title  \
0   1  12/11/2018 10:52:26       Slovenia         Full time  Developer
1   2    1/5/2017 16:57:50  United States         Full time        DBA
2   3   12/18/2017 8:13:15         Sweden         Full time        DBA
3   4   12/27/2018 4:56:52  United States         Full time        DBA
4   5  12/11/2018 14:07:58  United States         Full time  Developer

   job_years is_manager  hours_per_week  telecommute_days_per_week  \
0    4.78393        Yes            40.0                        0.0
1    5.00000         No            40.0                        5.0
2    1.00000         No            40.0                        0.0
3    1.00000         No            40.0                        2.0
4    3.00000         No            40.0                        2.0

             education is_education_computer_related certifications  \
0  Bachelors (4 years)                           Yes             No
1  Bachelors (4 years)                           Yes             No
2              Masters                           Yes            Yes
3  Bachelors (4 years)                            No             No
4              Masters                           Yes            Yes

         salary
0   7187.743094
1  10000.000000
2   7000.000000
3   8333.000000
4   7137.000000

# Queation 1

In [2]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             4277 non-null   int64
 1   timestamp                      4277 non-null   object
 2   country                        4277 non-null   object
 3   employment_status              4277 non-null   object
 4   job_title                      4277 non-null   object
 5   job_years                      4277 non-null   float64
 6   is_manager                     4277 non-null   object
 7   hours_per_week                 4260 non-null   float64
 8   telecommute_days_per_week      4266 non-null   float64
 9   education                      4277 non-null   object
 10  is_education_computer_related  4261 non-null   object
 11  certifications                 4277 non-null   object
 12  salary                         4277 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 434.5+ KB
None

In [3]:
mean_hours_per_week = data['hours_per_week'].mean()
mean_telecommute_days_per_week = data['telecommute_days_per_week'].mean()

mode_is_education_computer_related = data['is_education_computer_related'].mode()[0]

data['hours_per_week'].fillna(mean_hours_per_week, inplace=True)
data['telecommute_days_per_week'].fillna(mean_telecommute_days_per_week, inplace=True)
data['is_education_computer_related'].fillna(mode_is_education_computer_related, inplace=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             4277 non-null   int64
 1   timestamp                      4277 non-null   object
 2   country                        4277 non-null   object
 3   employment_status              4277 non-null   object
 4   job_title                      4277 non-null   object
 5   job_years                      4277 non-null   float64
 6   is_manager                     4277 non-null   object
 7   hours_per_week                 4277 non-null   float64
 8   telecommute_days_per_week      4277 non-null   float64
 9   education                      4277 non-null   object
 10  is_education_computer_related  4277 non-null   object
 11  certifications                 4277 non-null   object
 12  salary                         4277 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 434.5+ KB

In [4]:
print(data.columns)

Index(['id', 'timestamp', 'country', 'employment_status', 'job_title',
       'job_years', 'is_manager', 'hours_per_week',
       'telecommute_days_per_week', 'education',
       'is_education_computer_related', 'certifications', 'salary'],
      dtype='object')

In [5]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

encoder = OneHotEncoder(sparse=False)
columns_to_encode = ['country', 'employment_status']
encoded_features = encoder.fit_transform(data[columns_to_encode])
encoded_feature_names = encoder.get_feature_names_out(columns_to_encode)
encoded_df = pd.DataFrame(encoded_features, columns=encoded_feature_names)

data = pd.concat([data, encoded_df], axis=1)
data.drop(columns_to_encode, axis=1, inplace=True)

scaler = StandardScaler()
data[['hours_per_week', 'telecommute_days_per_week']] = scaler.fit_transform(data[['hours_per_week', 'telecommute_days_per_week']])

data.head()

,id,timestamp,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,...,country_Ukraine,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Venezuela,country_Vietnam,employment_status_Full time,employment_status_Independent or freelancer or company owner,employment_status_Part time
0,1,12/11/2018 10:52:26,Developer,4.78393,Yes,-0.490579,-0.627669,Bachelors (4 years),Yes,No,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,2,1/5/2017 16:57:50,DBA,5.00000,No,-0.490579,2.404762,Bachelors (4 years),Yes,No,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,3,12/18/2017 8:13:15,DBA,1.00000,No,-0.490579,-0.627669,Masters,Yes,Yes,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,4,12/27/2018 4:56:52,DBA,1.00000,No,-0.490579,0.585303,Bachelors (4 years),No,No,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5,12/11/2018 14:07:58,Developer,3.00000,No,-0.490579,0.585303,Masters,Yes,Yes,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler

non_numeric_columns = data.select_dtypes(exclude=[np.number]).columns.tolist()

yes_no_columns = [col for col in non_numeric_columns if data[col].dropna().str.contains('Yes|No').all()]
for col in yes_no_columns:
    data[col] = data[col].map({'Yes': 1, 'No': 0})

non_numeric_columns = [col for col in non_numeric_columns if col not in yes_no_columns]

if non_numeric_columns:
    encoder = OneHotEncoder(sparse=False)
    encoded_features = encoder.fit_transform(data[non_numeric_columns])
    encoded_feature_names = encoder.get_feature_names_out(non_numeric_columns)
    encoded_df = pd.DataFrame(encoded_features, columns=encoded_feature_names)
    data = pd.concat([data, encoded_df], axis=1)
    data.drop(non_numeric_columns, axis=1, inplace=True)

continuous_columns = data.select_dtypes(include=[np.number]).columns.tolist()
continuous_columns.remove('id') 
continuous_columns.remove('salary') 
scaler = StandardScaler()
data[continuous_columns] = scaler.fit_transform(data[continuous_columns])

X = data.drop(['id', 'salary'], axis=1)
y = data['salary']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
predictions = pd.DataFrame({
    'Actual': y_test,
    'Predicted': y_pred
})

print(predictions.head())

           Actual     Predicted
544   7179.575611 -5.767445e+16
410   8160.501009 -1.370338e+15
2554  7052.091833 -1.856170e+16
1281  7500.000000 -1.466208e+14
598   6000.000000  1.348572e+16

# Queation 2

In [7]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

y_true = y_test
y_pred = model.predict(X_test)

# MAE
mae = mean_absolute_error(y_true, y_pred)
print(f"Mean Absolute Error (MAE): {mae}")

# MSE
mse = mean_squared_error(y_true, y_pred)
print(f"Mean Squared Error (MSE): {mse}")

# RMSE
rmse = np.sqrt(mse)
print(f"Root Mean Squared Error (RMSE): {rmse}")

Mean Absolute Error (MAE): 1.1399306458338008e+16
Mean Squared Error (MSE): 2.307902364682562e+33
Root Mean Squared Error (RMSE): 4.8040632434248424e+16

# Queation 3

In [8]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error

ridge_model = Ridge(alpha=1.0)  # alpha 是正则化强度
ridge_model.fit(X_train, y_train)

y_pred_ridge = ridge_model.predict(X_test)

mae_ridge = mean_absolute_error(y_test, y_pred_ridge)
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
print(f"Ridge Regression MAE: {mae_ridge}")
print(f"Ridge Regression MSE: {mse_ridge}")

Ridge Regression MAE: 1299.8741631475532
Ridge Regression MSE: 2851096.3923194185

In [9]:
from sklearn.linear_model import Lasso

lasso_model = Lasso(alpha=0.1)
lasso_model.fit(X_train, y_train)

y_pred_lasso = lasso_model.predict(X_test)

mae_lasso = mean_absolute_error(y_test, y_pred_lasso)
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
print(f"Lasso Regression MAE: {mae_lasso}")
print(f"Lasso Regression MSE: {mse_lasso}")

Lasso Regression MAE: 924.8218013837142
Lasso Regression MSE: 1640403.374353172

/Users/wenannan/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.389e+06, tolerance: 5.865e+05
  model = cd_fast.enet_coordinate_descent(

In [10]:
print(f"Linear Regression MAE: {mae}")
print(f"Linear Regression MSE: {mse}")

print("\nModel Performance Comparison:")
print(f"Linear Regression MAE: {mae}, MSE: {mse}")
print(f"Ridge Regression MAE: {mae_ridge}, MSE: {mse_ridge}")
print(f"Lasso Regression MAE: {mae_lasso}, MSE: {mse_lasso}")

Linear Regression MAE: 1.1399306458338008e+16
Linear Regression MSE: 2.307902364682562e+33

Model Performance Comparison:
Linear Regression MAE: 1.1399306458338008e+16, MSE: 2.307902364682562e+33
Ridge Regression MAE: 1299.8741631475532, MSE: 2851096.3923194185
Lasso Regression MAE: 924.8218013837142, MSE: 1640403.374353172